#title {
    color: white;;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

.characters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.character {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.character:hover {
    cursor: pointer;
}

.character-img {
    max-width: 15rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}

.character-name {
    margin-bottom: 1rem;
}