body {
    background-image: url(../img/marvelBackground.gif);
    font-family: 'Roboto', sans-serif;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .5rem .5rem;
    margin:  .5rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: .5px;
    background-color: #ee171f;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

/* CIRCULOS CARREGAMENTO */
.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1;
}


.circle {
    background-color: black;
    border: 1px solid white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px)
    }
}

/* BOTÃO VOLTAR AO TOPO */
.botao-topo {
    position: fixed;
    visibility: hidden;
    text-align: center;
    bottom: 10px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 0, 0, 0.5);
    width: 47px;
    height: 44px;
    right: 25px;
    line-height: 44px;
    z-index: 99;
    font-size: 1.5rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    transition:all 0.3s ease;
}

.botao-topo:hover {
    color: white;
    background-color: #ff0000;
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    
    
}

.show {
    visibility: visible;
}
